pyspark
findspark
boto3
papermill
pyarrow
pandas
langchain
ollama
langchain-ollama
langchain-chroma
weaviate-client
langchain_community
langchain_core
fitz
uuid
pdfplumber
langchain_cohere
rank_bm25
nltk
langgraph